.vs
Assets/Screenshots
Library
Temp
# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
*.pidb.meta
*.pdb.meta
*.mdb.meta
CrashReports/
sysinfo.txt
*.stackdump
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vs/
.idea/
*.apk
*.aab
*.unitypackage
*.app
InitTestScene*.unity*
ExportedObj/
.consulo/
Assets/AssetStoreTools*
.utmp/
.gradle/
.cursor/
